# Bot nickname
botname=GeekBot

# IRC Server to use
server=irc.quakenet.org

# Channel to join
channel=\#botchannel

# directory where lucene will store its index
lucene=/var/geekbot/index/

# Bitly credentials
bitly.login=
bitly.apikey=

# Imgur credentials
imgur.apikey=

# VDM api key
vdm.apikey=