# Bot nickname
botname=GeekBot

# administrator password for various operations
admin.password=hello

# IRC Server to use
server=irc.quakenet.org
port=8080

# Channel to join
channels=\#botchannel,\#botchannel2
channel.command.botchannel=ALL
channel.command.botchannel2=be.hehehe.geekbot.commands.GoogleCommand,be.hehehe.geekbot.commands.BlagueCommand

# Web settings
webserver.hostname = http://hostname.com/path/
webserver.port = 11223

# Bitly credentials
bitly.login=
bitly.apikey=

# Imgur credentials
imgur.apikey=

# VDM api key
vdm.apikey=

# MemeGenerator config
meme.login=
meme.password=